<!--{% set friend = (app.request.get('_route') == 'goal_friends') %}-->
<!--{% if app.request.get('slug') is defined %}-->
<!--{% set slug = app.request.get('slug') %}-->
<!--{% else %}-->
<!--{% set slug = false %}-->
<!--{% endif %}-->

<div id="goal-friends">
  <div class="container">
    <div class="row">
      <div class="col-md-8"
           infinite-scroll
           [infiniteScrollDistance]="1"
           [infiniteScrollThrottle]="500"
           (scrolled)="onScroll()">

        <!--{% if friend %}-->

        <div class="bg-white padding round">

          <form role="search" action="#" method="GET" class="goalfriend-search">
            <div class="form-group row">

              <div class="col-sm-12">
                <span class="icon-search-icon" [ngClass]="{'text-purple': search}"></span>
                <input type="text"
                       name="search"
                       class="form-control"
                       id="searchInput"
                       [(ngModel)]="search"
                       (keyup.enter)="doSearch()"
                       placeholder="{{ 'search_placeholder'|translate }}">

                <span class="close-icon" [hidden] = "!search || !search.length" (click)="resetFriends()"></span>

              </div>
            </div>
          </form>

          <swiper  [config]="config" class="filters-slider swiper-container">
            <ul class="goalfrineds-menu swiper-wrapper" >
              <li class="swiper-slide">
                <a routerLink="/goal-friends/all" [class.text-purple]="type=='all'" routerLinkActive="text-purple">{{ 'goal_friend_menu.all'|translate }}</a>
              </li>

              <li class="swiper-slide">
                <a routerLink="/goal-friends/recently" routerLinkActive="text-purple">{{ 'goal_friend_menu.recently_matched'|translate }}</a>
              </li>

              <li class="swiper-slide">
                <a routerLink="/goal-friends/match" routerLinkActive="text-purple">{{ 'goal_friend_menu.most_matching'|translate }}</a>
              </li>

              <li class="swiper-slide">
                <a routerLink="/goal-friends/active" routerLinkActive="text-purple">{{ 'goal_friend_menu.most_activity'|translate }}</a>
              </li>

              <li class="swiper-slide">
                <a routerLink="/goal-friends/follow" routerLinkActive="text-purple">{{ 'goal_friend_menu.follow'|translate }}</a>
              </li>
            </ul>
            <div class="hidden-sm hidden-md hidden-lg">
              <div class="bg-left">
                <i class="swiper-button-prev"></i>
              </div>
              <div  class="bg-right">
                <i class="swiper-button-next"></i>
              </div>
            </div>
          </swiper>
        </div>

        <div *ngIf="noItem">
          <br />
          <p class="text-center text-gray">{{ 'no_friends' | translate }}</p>
        </div>

        <!--{% endif %}-->

        <!--{% if slug %}-->
        <!--<div>-->
          <!--<a href="{{ path('inner_goal', {'slug': slug}) }}" class="row text-gray heading"> &laquo; Back to {{ title }}</a>-->
        <!--</div>-->
        <!--{% endif %}-->

        <div class="row">
          <bl-loading mode="indeterminate" *ngIf="!users"></bl-loading>
          <div class="col-sm-6 goals-animate" *ngFor="let user of users;let e = even, let i = index"
               [ngClass]="{'margin-top': i < 2}" >

            <app-user [user]="user"></app-user>
          </div>

        </div>
        <br />
      </div>

      <div class="col-md-4">
        <!--<complete-profile-block></complete-profile-block>-->
        <!--<my-list-block></my-list-block>-->
        <!--<top-ideas-block [type]="'featured'"></top-ideas-block>-->
        <!--<top-ideas-block [type]="'top'"></top-ideas-block>-->
      </div>
    </div>
  </div>
</div>