{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}

    <a href="{{ path('admin_application_comment_comment_list', {'filter[thread][value]': object.id}) }}" class="btn btn-sm btn-default view_link" title="{{ 'admin.label.name.comments'|trans() }}">
        <i class="fa fa-search-plus"></i>
    </a>

{% endif %}
