/* radius functions */
.blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
#notifications-list {
  padding: 10px 0;
  margin-top: 5px;
}
#notification-list {
  padding: 6px 0 0 0;
  margin-bottom: 10px;
}
#notification-list li:first-child {
  padding-bottom: 21px;
}
#notification-list li:first-child a:hover {
  color: #7724F6 !important;
}
#notification-list .close-icon {
  top: 24px;
  right: 20px;
  display: none;
}
#notification-list h3,
#notification-list a {
  font-size: 14px !important;
  line-height: 21px;
  padding: 0 10px;
  margin: 0;
}
#notification-list h3 {
  font-weight: 600;
  padding: 3px 10px 2px;
}
#notification-list a {
  font-weight: 400;
  display: inline-block;
}
#notification-list ul {
  padding: 10px 0;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  border-top: 1px solid #e5e5e5;
}
#notification-list ul li figure {
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
#notification-list ul li figure img {
  height: 40px;
}
#notification-list ul li figure p {
  width: 40px;
  height: 40px;
  color: #ffffff;
  line-height: 36px;
}
#notification-list ul li p span {
  display: block;
  white-space: normal;
  word-break: break-word;
  font-size: 14px;
  line-height: 21px;
}
#notification-list ul li p span a {
  font-weight: 600;
  padding: 0;
  color: #666666;
}
#notification-list ul li:first-child {
  padding-bottom: 0;
}
#notification-list ul.unread {
  background: #f4f4f4;
}
#notification-list ul:hover {
  background-color: #e8e8e8;
}
#notification-list ul:hover .close-icon {
  display: block;
}
#notification-list .goals-animate p {
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  #notifications-list {
    padding: 20px 0;
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  #notifications-list {
    padding: 30px 0;
  }
}
