.story-fade-in.ng-hide {
    opacity: 0;
}

.story-fade-in.ng-hide-remove,
.story-fade-in.ng-hide-add {
    display: block !important;
}

.story-fade-in.ng-hide-remove {
    transition: all linear 1000ms;
}

.story-fade-in.ng-hide-add {
    transition: all linear 500ms;
}
/*map icon animation hide and show*/
.map-top.ng-hide {
    opacity: 0;
}

.map-top.ng-hide-remove {
    transition: all linear 1000ms;
}

.map-top.ng-hide-add {
    transition: all linear 500ms;
}
/* goals animation */
.goals-animate.ng-enter,
.goals-animate.ng-leave{
    -webkit-transition: 200ms ease-out all;
    -moz-transition: 200ms ease-out all;
    -ms-transition: 200ms ease-out all;
    -o-transition: 200ms ease-out all;
    transition: 200ms ease-out all;
    position: relative;
    display: block;
}
.goals-animate.ng-enter-stagger,
.friends-animate.ng-enter-stagger{
    transition-delay: 0.1s;
    animation-delay: 0.1s;
}
.goals-animate.ng-leave.goals-animate.ng-leave-active,
.goals-animate.ng-enter {
    opacity: 0;
    top: 100px;
}
/*.friends-animate.ng-leave.friends-animate.ng-leave-active,*/
/*.friends-animate.ng-enter {*/
    /*opacity: 0;*/
    /*top: 100px;*/
/*}*/
.comingByTop>.goals-animate.ng-leave.goals-animate.ng-leave-active,
.comingByTop>.goals-animate.ng-enter {
    opacity: 0;
    top: -100px;
}

.goals-animate.ng-enter.goals-animate.ng-enter-active,
.goals-animate.ng-leave {
    opacity: 1;
    top: 0px;
}