<sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [fitBounds]="((locations && locations.length > 1)?bounds:null)"
                 [mapTypeControl]="true">
  <sebm-google-map-marker width='30' height='30' *ngFor="let marker of locations"
                          [latitude]="marker.latitude" [longitude]="marker.longitude"
                          (mouseOut)="marker.isHover = false" (markerClick)="clickMarker(marker)" (mouseOver)="marker.isHover = true"
                          [iconUrl]="(marker.status == 1)?activeGoalMarkerIcon1:(marker.status == 2)?activeGoalMarkerIcon2:passiveMarkerIcon">
    <sebm-google-map-info-window [disableAutoPan]="true" [isOpen]="marker.isHover">
      {{ marker.title}}
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>
