{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div>
        {% if object is defined and object.id %}
            {% set authorGoals = object.getAuthorGoals() %}
            {% set goalCount = 0 %}

            <ul>
            {% for authorGoal in authorGoals %}
                {% set goalCount = goalCount + 1 %}

                <li>
                    <a href="{{ path('inner_goal', {'slug': authorGoal.slug}) }}" target="_blank" title="{{ authorGoal.title }}">
                        {{ authorGoal.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
            <hr>
            {{ 'count - ' ~ goalCount }}
        {% endif %}
    </div>
{% endblock %}