{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}

    {% if object %}
        <a href="{{ path('blog_show', {'slug': object.slug}) }}" target="_blank" class="btn btn-sm btn-default view_link" title="{{ 'admin.label.name.blog_link'|trans() }}">
            <i class="glyphicon glyphicon-home"></i>
        </a>
    {% endif %}
{% endif %}
