{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    {% if not object.archived %}
        <a href="{{ admin.generateObjectUrl('merge', object) }}" class="btn btn-sm btn-default view_link" title="{{ 'admin.label.name.action_merge'|trans() }}">
            <i class="glyphicon glyphicon-asterisk"></i>
        </a>
    {% endif %}
{% endif %}