<div class="text-center">
    <button class="btn btn-success" type="submit" name="btn_preview_approve">
        {#<i class="glyphicon glyphicon-ok"></i>#}
        {{ 'btn_preview_approve'|trans({}, 'SonataAdminBundle') }}
    </button>
    <button class="btn btn-danger" type="submit" name="btn_preview_decline">
        {#<i class="glyphicon glyphicon-remove"></i>#}
        {{ 'btn_preview_decline'|trans({}, 'SonataAdminBundle') }}
    </button>
</div>