{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{%- block field %}
    {% if value %}
        <div class="admin-text show-more">
            {{ value }}
        </div>
    {% else %}
        {{ value }}
    {% endif %}
{% endblock -%}