<ul class="row {% if inner is defined %} goal-links {% endif %} ">
        <li class="col-xs-6">
            {% set slugName = slug? slug: "Private" %}
            <a href="{{ path('add_goal', {'id': goal.id, 'slug': slugName }) }}">
                <i class="icon-manage-in-circle"><span class="path1"></span><span class="path2"></span></i>
                <span class="text">{{ 'btn_edit'|trans | capitalize}}</span>
            </a>
        </li>

        <li class="col-xs-6">
            <a href="javascript:void(0)" data-ls-confirm data-ls-href="{{ path('remove_my_ideas', {'goal' : goal.id , 'slug' : slug}) }}">
                <i class="icon-delete-in-circle"><span class="path1"></span><span class="path2"></span></i>
                <span class="text">{{ 'btn_remove'|trans | capitalize}}</span>
            </a>
        </li>
</ul>
