
<div class="right-block padding padding-no round">
    <div class="right-menu">
        <div class="bg-white round">

            <ul class="row">
                <li class="col-xs-10">
                   <span>
                     <i class="icon-top-idea"></i>
                     <span class="text-gray">{{ 'leaderboard.rewards'|trans }}</span>
                    </span>
                </li>
            </ul>

            <hr/>

            <div class="badge-place" id="rewards">

                <div class="row no-gutter">
                    <div class="col-xs-1">
                        <i class="badge-1"></i>
                    </div>
                    <div class="col-xs-11">
                        <p class="text-justify">{{ 'leaderboard.travelerText'|trans |raw }}</p>
                    </div>
                </div>

                <div class="row no-gutter">
                    <div class="col-xs-1">
                        <i class="badge-3"></i>
                    </div>
                    <div class="col-xs-11">
                        <p class="text-justify">{{ 'leaderboard.innovatorText'|trans |raw}}</p>
                    </div>
                </div>

                <div class="row no-gutter">
                    <div class="col-xs-1">
                        <i class="badge-2"></i>
                    </div>
                    <div class="col-xs-11">
                        <p class="text-justify">{{ 'leaderboard.motivatorText'|trans |raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>