<div class="bg-grey my-modal" id="goal-users-modal">

    <bl-loading mode="indeterminate" *ngIf="!users"></bl-loading>
    <div class="bg-white relative text-left" *ngIf="users && users.length && data.category" (clickOutside)="closeModal()">

        <h3 *ngIf="data.category == 1"  >{{ 'home_listed_by'|translate }} {{ data.count }} {{ 'users'|translate }}</h3>
        <h3 *ngIf="data.category == 2"  >{{ 'home_complete'|translate }} {{ data.count }} {{ 'users'|translate }}</h3>
        <h3 *ngIf="data.category == 3"  >{{ 'home_voters'|translate }} {{ data.count }} {{ 'users'|translate }}</h3>
        <a class="close-icon" (click)="dialogRef.close();isOpen = false"></a>
    </div>

    <perfect-scrollbar class="modal-container">

        <div class="users-content"
             *ngIf="users">
            <div [hidden]="!users.length"
                 class="row"
                 *ngFor="let user of users">

                <div class="col-xs-12">
                    <app-user [user]="user"></app-user>
                </div>

            </div>
        </div>
    </perfect-scrollbar>

</div>