<div id="news-feed">
  <div class="container">
    <div class="row no-gutter overflow">

      <div class="col-md-8">
        <my-activity [single]="false"></my-activity>
      </div>

      <div class="col-md-4">
        <!--<complete-profile-block></complete-profile-block>-->
        <!--<my-list-block></my-list-block>-->
        <!--<goal-friends-block></goal-friends-block>-->
        <!--<top-ideas-block [type]="'featured'"></top-ideas-block>-->
        <!--<top-ideas-block [type]="'top'"></top-ideas-block>-->
        <!--<leaderboards-block></leaderboards-block>-->
      </div>
    </div>
  </div>
</div>